

<section class="section-footer py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-8 my-3">
                <a href="{{ home }}">
                    <img
                         src="{{ stylesheet_directory_uri }}/img/privatemaket/logo-footer.svg"
                         height="20"></a>
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-4">
                <div class="row">
                    <div class="col-12 col-md-6 footer-col-1 my-3">
                        <p><a href="">Contact Us</a></p>
                        <p><a href="">FAQ</a></p>
                        <p><a href="">Privacy Policy</a></p>
                    </div>
                    <div class="col-12 col-md-6 footer-col-2 my-3">
                        <p><a href="">Twitter</a></p>
                        <p><a href="">Linkeind</a></p>
                        <p><a href="">Blog</a></p>
                    </div>
                    <div class="col-12 footer-col-2 my-3">
                        <p class="text-opa-40">© 2018 Privatemarket Technologies, Ltd. <br>Designed by Moze</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

